{{> 'partials/header'}}
<hr>
<main class="container py-4">
  <h2 class="text-2xl">{{News.Title}}</h2>
  <p class="text-md">{{News.Content}}</p>
  <code>Author: {{News.Author.FullName}} | {{News.Author.Email}}</code>
</main>
{{> 'partials/footer'}}